@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
.qeydiyyat{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.qeydiyyat-info {
    margin: 42px 0 42px 0;
    border-radius: 25px;
    width: 400px;
    background-color: #191A1E;
    color: #2D98DA;
    font: 500 18px 'Exo', sans-serif;
    box-shadow: 6px 6px 12px #2d98da, -4px -4px 10px rgb(95 94 94 / 25%);
}
.input {
    color: #000000;
    padding-left: 20px;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
}
input#email {
    width: 300px;
}
.goster {
    width: 300px;
    height: 50px;
    background-color: white;
    border-radius: 25px;
}button#icon {
    border: none;
    background: none;
}
.lab1 {
    width: 370px;
    padding: 20px 0 20px 0;
}
.lab2 {
    width: 370px;
    padding: 20px 0 20px 0;
}
img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 40px;
    object-fit: cover;
}
.melumat{
    padding-top: 50px;
}
.xatirlama {
    font-size: 14px;
    width: 370px;
    padding-bottom: 10px;
}
input#xatirla {
    margin-left: 10px;
}
.rae2 {
    width: 150px;
    height: 50px;
    border-radius: 33px;
    background-color: #2d98da;
    border: none;
    margin-bottom: 10px;
    color: #191a1e;
    font-weight: 700;
}
a {
    text-decoration: none !important;
}